.logo {
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 92px;
    font-family: Raleway, sans-serif;
    color: var(--black-color);
    font-weight: var(--bold-font-weight);
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
  }

.logo-span {
    color:var(--accent-color);
}


