:root {
    --primary-text-color: #757575;
    --secondary-text-color: #212121;
    --accent-color: #2196f3;
    --primary-white-color: #ffffff;
    --primary-background-color: #2f303a;
    --secondary-background-color: #f5f4fa;
    --black-color: #000000;
    --secondary-accent-color: #188ce8;
    --bold-font-weight: 700;
    --regular-font-weight: 400;
    --medium-font-weight: 500;
    --black-font-weight: 900;
    --primery-letter-spacing: 0.03em;
    --main-overlay: rgba(47, 48, 58, 0.4);
    --gradient-color: #c4c4c4;
    --icon-color: #afb1b8;
    --footer-icon: rgba(255, 255, 255, 10%);
    --porfolio-overlay-color: rgba(33, 150, 243, 0.9);
    --backdrop-color: rgba(0, 0, 0, 0.2);
    --overlay-text: rgba(47, 48, 58, 0.8);
    --input-color: 1px solid rgba(33, 33, 33, 0.2)
  }

  